/*for dropdown */

ul.menu {
list-style:none;
margin:0; 
padding:0;
font:normal 11px Arial;
}

ul.menu * {
margin:0; 
padding:0;
}

ul.menu a {
display:block; 
text-decoration:none;
color:#FFFFFF;
font-weight:bold;
}

ul.menu li {
position:relative; 
float:left; 
margin-right:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul {
position:absolute; 
width:200px;  
top:px; left:; 
background-color:black;
border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li {
position:relative; 
border:1px solid #b8b4ae ; 
background-color:green;
border-top:none; 
width:120px;     
margin:px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li a {
display:block; 
width:140px;
color:#999999;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}


ul.menu ul ul {
position:absolute; 
width:200px;  
top:px; left:0; 
background-color:black;
border-top:1px solid #b8b4ae;
display:none;opacity:0; 
list-style:none;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul li {
position:relative; 
border:1px solid #b8b4ae; 
background-color:black;
border-top:none; 
width:200px;     
margin:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul li a {
display:block; 
width:200px;
color:#999999;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li.hidelink {
width:200px;
color:#999999;
font:normal 13px Arial, Helvetica, sans-serif;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul li.arrow 
{
	background:url(./images/arrows.gif) no-repeat 238px 10px;
}

/*smart panel*/

ul.menu ul ul ul{
position:absolute; 
width:200px;  
top:px; left:0; 
background-color:black;
border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul ul li {
position:relative; 
background-color:#f9f9f9;
border-top:none; 
width:148px;     
margin:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul ul li a {
display:block; 
width:148px;
color:#999999;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}


ul.menu ul li a:hover {
color:#ff9933;
font-weight:bold;
}

ul.menu ul ul {
left:130px; top:-1px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li a.arrow 
{
	background:url(./images/arrows.gif) no-repeat 197px 10px;
}

ul.menu ul ul li a.arrow 
{
	background:url(./images/arrows.gif) no-repeat 238px 10px;
}

ul.menu ul ul ul {
left:10px; top:-10px;
}

/*top menu*/

ul.headmenu {
list-style:none;
margin:0; 
padding:0;
font:normal 11px Arial;
}

ul.headmenu * {
margin:0; 
padding:0;
}

ul.headmenu a {
display:block; 
text-decoration:none;
}

ul.headmenu li {
position:relative; 
float:left;
margin-right:0;
}

ul.headmenu ul {
position:absolute; 
width:80px;
top:px; left:0px;
background-color:black;
/*border:1px solid #b8b4ae;*/
/* border-top:1px solid #b8b4ae; */
display:none;opacity:0; 
list-style:none;
}

ul.headmenu ul li {
position:relative; 
background-color:black;
border-top:none; 
width:80px;
margin:0;
}

 ul.headmenu ul.alignrig {
position:absolute; 
width:100px;
top:px; left:-px;
background-color:black;
border:1px solid #b8b4ae;
border-top:1px solid #b8b4ae;
display:none;opacity:0; 
list-style:none;
} 

ul.headmenu ul.alignrig li {
	
position:relative; 
 border-top:1px solid #b8b4ae;
border:1px solid #b8b4ae;  
background-color:black;
border-top:none; 
width:100px;
margin:0;
}

ul.headmenu ul li a {
display:block;
width:100px;  
color:#999999;
padding:px 0px 0px 0px;
}

ul.headmenu ul li a:hover {
color:#ff9933;
}

ul.headmenu ul ul {
left:px; top:-px;
}

ul.headmenu ul li a.arrow 
{
	background:url(./images/arrows.gif) no-repeat 114px 8px;
}


ul.news {
list-style:none;
margin:0; 
padding:0;
font:normal 14px Arial;
}

ul.news * {
margin:0; 
padding:0;
}

ul.news a {
display:block; 
/*color:#999999;*/
text-decoration:none;
}

ul.news li {
position:relative; 
/*float:left;*/
margin-right:0;
}

ul.news ul {
position:absolute; 
width:80px;
top:px; left:px;
background-color:#C6E6E6;
/*border:1px solid #b8b4ae;*/
border-top:1px solid #b8b4ae;
display:none;opacity:0; 
list-style:none;
}

ul.news ul li {
position:relative; 
 border-top:1px solid #b8b4ae;
border:1px solid #b8b4ae;  
background-color:#f9f9f9;
border-top:none; 
width:80px;
margin:0;
}

ul.news ul li a {
display:block;
width:80px;  
color:#999999;
font:normal 12px Arial, Helvetica, sans-serif;
padding:px 0px 0px 0px;
}

ul.news ul li a:hover {
color:#ff9933;
}

ul.news ul ul {
left:px; top:-px;
}


/*news&events menu*/
li.list-style-image{ list-style-image:none;}/*for dropdown */

ul.menu {
list-style:none;
margin:0; 
padding:0;
font:normal 11px Arial;
}

ul.menu * {
margin:0; 
padding:0;
}

ul.menu a {
display:block; 
/*color:#999999; */
text-decoration:none;
color:#FFFFFF;
font-weight:bold;
}

ul.menu li {
position:relative; 
float:left; 
margin-right:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul {
position:absolute; 
width:130px;  
top:px; left:0; 
background-color:#429E9E;
/*border:1px solid #b8b4ae;*/
 border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li {
position:relative; 
 border:1px solid #b8b4ae;  
background-color:black;
border-top:none; 
width:130px;     
margin:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li a {
display:block; 
width:130px;
color:#999999;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}


ul.menu ul ul {
position:absolute; 
width:130px;  
top:px; left:0; 
background-color:black;
border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul li {
position:relative; 
/* border:1px solid #b8b4ae; */ 
background-color:black;
border-top:none; 
width:130px;     
margin:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul li a {
display:block; 
width:130px;
color:#999999;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li.hidelink {
width:172px;
color:#999999;
font:normal 13px Arial, Helvetica, sans-serif;
padding:px 0px 0px 0px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul li.arrow 
{
	background:url(./images/arrows.gif) no-repeat 238px 10px;
}

/*smart panel*/

ul.menu ul ul ul{
position:absolute; 
width:51px;  
top:px; left:0; 
background-color:black;
/*border:1px solid #b8b4ae;*/
border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul ul li {
position:relative; 
/* border:1px solid #b8b4ae; */ 
/*background-color:#f9f9f9;*/
border-top:none; 
width:50px;     
margin:0;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul ul ul li a {
display:block; 
width:70px;
color:#999999;
padding:px 0px 0px 0px;
/*background-color:#3bbff1;*/
/*filter:alpha(opacity=60);
opacity:0.6;*/
font-weight:bold;
color:#FFFFFF;
}

/*smart panel*/

ul.menu ul li a:hover {
color:#ff9933;
font-weight:bold;
}

ul.menu ul ul {
left:120px; top:-1px;
font-weight:bold;
color:#FFFFFF;
}

ul.menu ul li a.arrow 
{
	background:url(./images/arrows.gif) no-repeat 197px 10px;
}

ul.menu ul ul li a.arrow 
{
	background:url(./images/arrows.gif) no-repeat 238px 10px;
}

ul.menu ul ul ul {
left:px; top:-px;
}

/*top menu*/

ul.headmenu {
list-style:none;
margin:0; 
padding:0;
font:normal 11px Arial;
}

ul.headmenu * {
margin:0; 
padding:0;
}

ul.headmenu a {
display:block; 
/*color:#999999;*/
text-decoration:none;
}

ul.headmenu li {
position:relative; 
float:left;
margin-right:0;
}

ul.headmenu ul {
position:absolute; 
width:177px;
top:px; left:0px;
background-color:black;
/*border:1px solid #b8b4ae;*/
 border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
}

ul.headmenu ul li {
position:relative; 
 border-top:1px solid #b8b4ae;
border:1px solid #b8b4ae;  
background-color:#429E9E;
border-top:none; 
width:50px;
margin:0;
}

ul.headmenu ul.alignrig {
position:absolute; 
width:147px;
top:px; left:-50px;
background-color:black;
/*border:1px solid #b8b4ae;*/
 border-top:1px solid #b8b4ae; 
display:none;opacity:0; 
list-style:none;
}

ul.headmenu ul.alignrig li {
	
position:relative; 
 border-top:1px solid #b8b4ae;
/*border:1px solid #b8b4ae;  */
background-color:black;
border-top:none; 
width:50px;
margin:0;
}


ul.headmenu ul li a {
display:block;
width:50px;  
color:#999999;
padding:14px 0px 0px 0px;
}

ul.headmenu ul li a:hover {
color:#ff9933;
}

ul.headmenu ul ul {
left:px; top:-px;
}

ul.headmenu ul li a.arrow 
{
	background:url(./images/arrows.gif) no-repeat 114px 8px;
}

/*top menu*/

/* 
news&events menu */

ul.news {
list-style:none;
margin:0; 
padding:0;
font:normal 14px Arial;
}

ul.news * {
margin:0; 
padding:0;
}

ul.news a {
display:block; 
color:#999999;
text-decoration:none;
}

ul.news li {
position:relative; 
float:left;
margin-right:0;
}

ul.news ul {
position:absolute; 
width:152px;
top:px; left:px;
background-color:#C6E6E6;
border:1px solid #b8b4ae;
border-top:1px solid #b8b4ae;
display:none;opacity:0; 
list-style:none;
}

ul.news ul li {
position:relative; 
border-top:1px solid #b8b4ae;
border:1px solid #b8b4ae; 
background-color:#f9f9f9;
border-top:none; 
width:50px;
margin:0;
}

ul.news ul li a {
display:block;
width:20px;  
color:#999999;
font:normal 12px Arial, Helvetica, sans-serif;
padding:px 0px 0px 0px;
background-color:#3bbff1;
filter:alpha(opacity=60);
opacity:0.6;
}

ul.news ul li a:hover {
color:#ff9933;
}

ul.news ul ul {
left:px; top:-px;
}


news&events menu
li.list-style-image{ list-style-image:none;} 