<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/mvc 
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- auto wiring enabling -->
	<context:component-scan base-package="com.balu.curd" />
	<!-- //auto wiring enabling -->

	<!-- Transactions annotations enabling -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- css configuration -->
	<!-- <mvc:resources mapping="/css/**" location="/css/" /> -->

	<mvc:annotation-driven />
	<!-- //Transactions annotations enabling -->

	<!-- properties file configurations -->
	<context:property-placeholder location="classpath:resources/database.properties" />
	<!-- properties file configurations -->


	<!-- database properties Mysql and Oracle -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
	</bean>
	<!--// database properties Oracle -->

	<!-- session factory properties -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.balu.curd.domain.Login</value>
				<value>com.balu.curd.domain.Student</value>
				<value>com.balu.curd.domain.Registration</value>
				<value>com.balu.curd.domain.Bdsfee</value>
				<value>com.balu.curd.domain.Exam</value>
				<value>com.balu.curd.domain.Doc</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- for MYSQL and oracle db queries -->
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>
	<!-- //session factory properties -->

	<!-- HibernateTemplate properties -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- //HibernateTemplate properties -->

	<!-- Spring viewResolver -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>